
<!-- Latest compiled and minified CSS & JS -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="container" style="margin-top: 20px">
   
  {% for result in results %}
  <div class="panel panel-success">

    <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>

    <!-- Default panel contents -->
    <div class="panel-heading"><b>{{ forloop.counter }}. {{ result.title }}</b></div>
      <div class="panel-body">
          <p>{{ result.abstract }}</p>
      </div>
      <div class="panel-footer">
          
        <a class="btn btn-sm btn-info">
            Journal: {{ result.journal }} [IF={{ result.impact_factor }}]
        </a>

        <a class="btn btn-sm btn-warning" href="https://www.ncbi.nlm.nih.gov/pubmed/{{ result.pmid }}" target="_blank">
            PMID: {{ result.pmid }}
        </a>
    
        <a class="btn btn-sm btn-success">
            PubDate: {{ result.pubdate }}
        </a>

        <a class="btn btn-sm btn-danger" title="{{ result.authors }}">
            Authors: {{ result.authors | truncatechars_html:15 }}
        </a>

        {% if result.pmc != '.' %}
        <a class="btn btn-sm btn-primary" href="https://www.ncbi.nlm.nih.gov/pmc/articles/{{ result.pmc }}" target="_blank">
            {{ result.pmc }}
        </a>
        {% endif %}

        <form action="http://sci-hub.tw/" method="POST" style="display:inline" target="_blank">
            <input type="hidden" name="request" value="{{ result.pmid }}">
            <input type="submit" value="PDF" class="btn btn-sm btn-primary sci-hub">
        </form>

      </div>
  </div>
  {% endfor %}

</div>


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('.close').click(function () {
            $(this).parent().fadeOut();
        });

        $('.panel-heading').click(function () {
            $(this).next().fadeToggle();
            $(this).next().next().fadeToggle();
        });
    });
</script>